{% form_theme form with ['bootstrap_5_layout.html.twig', 'admin/form/fields.html.twig'] %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
