{% extends 'base-admin.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-default" href="{{ path('app_bird_admin_index') }}">
                Manage birds
            </a>
        </div>
    </div>
{% endblock %}